.row{
  text-align:center;
  
}
#choices{
  display:flex;
  justify-content:space-around;
}
button{
  background-color: #ccffd7;
  border-radius: 5px;
}
input{
  background-color: #ccffd7;
  border-radius: 5px;
}
body{
  background-color: #cecece
}
#RPS{
  height: 250px;
  border: 2px solid #ababab;
}

#stone1{
  border: 2px solid #ababab;
  height: 60px;
}
#blade1{
  border: 2px solid #ababab;
  height: 60px;
}
#parchment1{
  border: 2px solid #ababab;
  height: 60px;
}

#stone2{
  border: 2px solid #ababab;
  height: 60px;
}
#blade2{
  border: 2px solid #ababab;
  height: 60px;
}
#parchment2{
  border: 2px solid #ababab;
  height: 60px;
}